@CHARSET "UTF-8";

body {
	padding: 0px;
	margin: 0px;
	background-color: #648029;
}
.no-borders {
	padding: 0px;
	marging: 0px;
	border: none;
	border-width: 0px;
	border-spacing: 0px;
}
.think-borders {
	padding: 0px;
	marging: 0px;
	border: solid;
	border-width: 1px;
	border-color: transparent;
}
.game-background {
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 1;
}
#blue-sky {
	height: 350px;
	width: 100%;
	background-color: #8699ba;/*gradient to #f6eeff*/ /*from top 134,153,186 to bottom 246,238,255*/
	background-image: -o-linear-gradient(bottom, rgb(246,238,255) 0%, rgb(134,153,186) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(246,238,255) 0%, rgb(134,153,186) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, rgb(246,238,255)), color-stop(1.0, rgb(134,153,186)));
	background-image: -webkit-linear-gradient(bottom, rgb(246,238,255) 0%, rgb(134,153,186) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(246,238,255) 0%, rgb(134,153,186) 100%);
	background-image: linear-gradient(bottom, rgb(246,238,255) 0%, rgb(134,153,186) 100%);
}
#green-ground {
	height: 450px;
	width: 100%;
	background-color: #648029;/*gradient from #f6eeff*/ /*from top 246,238,255 to bottom 100,128,41*/
	background-image: -o-linear-gradient(bottom, rgb(100,128,41) 98%, rgb(246,238,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(100,128,41) 98%, rgb(246,238,255) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.98, rgb(100,128,41)), color-stop(1.0, rgb(246,238,255)));
	background-image: -webkit-linear-gradient(bottom, rgb(100,128,41) 98%, rgb(246,238,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(100,128,41) 98%, rgb(246,238,255) 100%);
	background-image: linear-gradient(bottom, rgb(100,128,41) 98%, rgb(246,238,255) 100%);
}

.game-board {
	top: 0px;
	position: absolute;
	width: 100%;
	z-index: 2;
}
#game-field-central {
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

/*
	game-field definitions
 */
.game-field {
	width: 800 px;
	height: 600 px;
}
.number-field {
	width: 150px;
	height: 250px;
}
#history {
	width: 150px;
	height: 454px;
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: bold;
	opacity: 0.8;
	filter:alpha(opacity=80); /* For IE8 and earlier */
	background-color: #706144;
	/*border-color: #706144;*/
	border-color: #8699ba;
	border-width: 1px;
	border-style: dotted;
	overflow: auto;
	overflow-y: auto;  
	overflow-x: hidden;
}
#history-text {
	/*color: #96a9ca;*/
	/*color: #ffa800;*/
	color: #ffedc9; 
}
#next-step-button {
	/*top: 220px;
	position: fixed;*/
	width: 50px;
	height: 370px;
}
.response-field {
	width: 300px;
	height: 250px;
}
.top-margin {
	height: 50px;
}
.row-divider {
	height: 100px;
	opacity: 0.4;
	filter:alpha(opacity=40); /* For IE8 and earlier */
}
.top-history {
	height: 150px;
}
.time-start {
	height: 150px;
	font-family: sans-serif;
	opacity: 0.7;
	filter:alpha(opacity=70); /* For IE8 and earlier */
	background-color: #8699ba;/*from top 134,153,186 through 200,200,200 to bottom 134,153,186*/
	background-image: -o-linear-gradient(bottom, rgb(134,153,186) 0%, rgb(200,200,200) 30%, rgb(200,200,200) 70%, rgb(134,153,186) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(134,153,186) 0%, rgb(200,200,200) 30%, rgb(200,200,200) 70%, rgb(134,153,186) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, rgb(134,153,186)), color-stop(0.3, rgb(200,200,200)), color-stop(0.7, rgb(200,200,200)), color-stop(1.0, rgb(134,153,186)));
	background-image: -webkit-linear-gradient(bottom, rgb(134,153,186) 0%, rgb(200,200,200) 30%, rgb(200,200,200) 70%, rgb(134,153,186) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(134,153,186) 0%, rgb(200,200,200) 30%, rgb(200,200,200) 70%, rgb(134,153,186) 100%);
	background-image: linear-gradient(bottom, rgb(134,153,186) 0%, rgb(200,200,200) 30%, rgb(200,200,200) 70%, rgb(134,153,186) 100%);
	/*border-left-color: #8699ba;
	border-right-color: #8699ba;*/
	color: #ffffff;
	border-left-color: #ffffff;
	border-right-color: #ffffff;
	border-left: 1px;
	border-right: 1px;
	border-top: 0px;
	border-bottom: 0px;
	border-style: dotted;
}
#time-start-text {
	color: navy;
	font-size: 18pt;
	font-weight: normal;
	text-align: center;
}
#game-duration-text {
	color: navy;
	font-size: 8pt;
	font-weight: normal;
	text-align: left;
}
.col-divider {
	width: 20px;
}
.focused {
	/*
	opacity: 0.4;
	filter:alpha(opacity=40); * For IE8 and earlier *
	*/
	border: dashed;
	border-width: 1px;
	border-color: red;
}
/*
:focus {
	border: dashed;
	border-width: 1px;
	border-color: red;
}
*/
.rate-request {
	visibility: hidden;
}
