@CHARSET "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}
.no-borders {
	padding: 0px;
	marging: 0px;
	border: none;
	border-width: 0px;
	border-spacing: 0px;
}
.user-board {
	top: 0px;
	position: absolute;
	width: 100%;
	/*z-index: 2;*/
}
#form-field-central {
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

/*
	form-field definitions
 */
.form-field {
	width: 620 px;
	height: 420 px;
	background-color: #cecece;/*gradient to #ffffff*/ /*from top 238,238,238 to bottom 255,255,255*/
	/*
	background-image: -o-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.0, rgb(255,255,255)), color-stop(1.0, rgb(238,238,238)));
	background-image: -webkit-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
	background-image: linear-gradient(bottom, rgb(255,255,255) 0%, rgb(238,238,238) 100%);
	*/
}
.logo{
	width: 620px;
	background-color: transparent;
}
.top-10-rate {
	height: 300px;
	width: 600px;
}
.top-10-rate-row {
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: navy;
}
.top-10-rate-user-name {
	text-align: left;
	height: 40px;
	width: 400px;
}
.top-10-rate-user-rate-value {
	text-align: right;
	height: 40px;
	width: 220px;
}
.selected-row {
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: bold;
	background-color: #648029;
	color: white;
}
.user-rate {
	width: 320px;
	height: 40px;
}
.user-name {
	text-align: left;
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: navy;
	width: 270px;
}
.user-rate-value {
	text-align: right;
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: navy;
	width: 90px;
}
.game-start {
	position: relative;
	width: 230px;
	height: 40px;
	text-align: right;
}
.game-start-request {
	visibility: hidden;
}
#game-start-button {
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: navy;
	height: 38px;
	width: 220px;
}
.rate-description {
	text-align: justify;
	font-family: sans-serif;
	font-size: 11pt;
	font-weight: bold;
	color: gray;
}
