@CHARSET "UTF-8";

body {
	padding: 0px;
	margin: 0px;
}
.no-borders {
	padding: 0px;
	marging: 0px;
	border: none;
	border-width: 0px;
	border-spacing: 0px;
}
.user-board {
	top: 0px;
	position: absolute;
	width: 100%;
	/*z-index: 2;*/
}
#form-field-central {
	margin-left: auto;
	margin-right: auto;
	width: 10%;
}

/*
	form-field definitions
 */
.form-field {
	width: 620 px;
	height: 480 px;
}
.user-name {
	text-align: left;
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: gray;
	height: 40px;
	width: 187px;
}
#user-name-editor {
	text-align: center;
	font-family: sans-serif;
	font-size: 15pt;
	font-weight: bold;
	color: navy;
	height: 40px;
	width: 420px;
}
#game-start-button {
	font-size: 15pt;
	font-weight: bold;
	color: navy;
	height: 38px;
	width: 120px;
	text-align: center;
}
.game-description {
	font-family: sans-serif;
	text-align: justify;
	height: 200px;
	width: 618px;
	font-size: 11pt;
	font-weight: bold;
	color: #272727;
}
.game-start-wider {
	width: 490px;
	height: 40px;
}
.game-start {
	position: relative;
	width: 130px;
	height: 40px;
	text-align: right;
}
.game-start-request {
	visibility: hidden;
}
